:root {
  --transparent: transparent;
  --transparent-tint: transparent;
  --transparent-shade: transparent;

  --grey: rgba(127, 127, 127, 1);
  --grey-tint: rgba(143, 143, 143, 1);
  --grey-shade: rgba(111, 111, 111, 1);

  --white: rgba(255, 255, 255, 1);
  --white-tint: rgba(255, 255, 255, 1);
  --white-shade: rgba(255, 255, 255, 1);

  --black: rgba(0, 0, 0, 1);
  --black-tint: rgba(0, 0, 0, 1);
  --black-shade: rgba(0, 0, 0, 1);

  --medium: rgba(127, 135, 143, 1);
  --medium-tint: rgba(143, 151, 159, 1);
  --medium-shade: rgba(111, 119, 127, 1);

  --light: rgba(223, 231, 239, 1);
  --light-tint: rgba(239, 247, 255, 1);
  --light-shade: rgba(207, 215, 223, 1);

  --dark: rgba(31, 39, 47, 1);
  --dark-tint: rgba(47, 55, 63, 1);
  --dark-shade: rgba(15, 23, 31, 1);

  --red: rgba(239, 79, 119, 1);
  --red-tint: rgba(255, 105, 158, 1);
  --red-shade: rgba(160, 53, 85, 1);

  --orange: rgba(239, 123, 107, 1);
  --orange-tint: rgba(255, 164, 142, 1);
  --orange-shade: rgba(160, 82, 72, 1);

  --yellow: rgba(239, 175, 127, 1);
  --yellow-tint: rgba(255, 233, 169, 1);
  --yellow-shade: rgba(160, 117, 85, 1);

  --green: rgba(95, 175, 127, 1);
  --green-tint: rgba(126, 233, 169, 1);
  --green-shade: rgba(64, 117, 85, 1);

  --cyan: rgba(0, 143, 143, 1);
  --cyan-tint: rgba(0, 190, 190, 1);
  --cyan-shade: rgba(0, 96, 96, 1);

  --blue: rgba(0, 87, 159, 1);
  --blue-tint: rgba(0, 116, 211, 1);
  --blue-shade: rgba(0, 58, 106, 1);

  --indigo: rgba(87, 63, 159, 1);
  --indigo-tint: rgba(116, 84, 211, 1);
  --indigo-shade: rgba(58, 42, 106, 1);

  --violet: rgba(159, 63, 159, 1);
  --violet-tint: rgba(211, 84, 211, 1);
  --violet-shade: rgba(107, 42, 107, 1);

  --grey1: rgba(0, 0, 0, 1);
  --grey2: rgba(31, 31, 31, 1);
  --grey3: rgba(63, 63, 63, 1);
  --grey4: rgba(95, 95, 95, 1);
  --grey5: rgba(127, 127, 127, 1);
  --grey6: rgba(159, 159, 159, 1);
  --grey7: rgba(191, 191, 191, 1);
  --grey8: rgba(223, 223, 223, 1);
  --grey9: rgba(255, 255, 255, 1);

  --medium1: rgba(0, 7, 15, 1);
  --medium2: rgba(23, 31, 39, 1);
  --medium3: rgba(55, 63, 71, 1);
  --medium4: rgba(87, 95, 103, 1);
  --medium5: rgba(119, 127, 135, 1);
  --medium6: rgba(151, 159, 167, 1);
  --medium7: rgba(183, 191, 199, 1);
  --medium8: rgba(215, 223, 231, 1);
  --medium9: rgba(239, 247, 255, 1);
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--dark);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a,
a:link {
  text-decoration: underline;
  outline: none;
  cursor: pointer;
  color: var(--white);
}

a:hover,
a:active,
a:focus {
  color: var(--white);
}

a:visited {
  color: var(--white);
}

label {
  font-weight: 700;
}

hr {
  display: block;
  border: none;
  border-top: 0.125rem solid var(--medium);
}

img {
  display: inline-block;
}

label,
button,
input,
textarea,
select,
option {
  position: relative;
  display: inline-block;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25;
}

#root {
  display: flow-root;
}
